fastapi
uvicorn
sqlalchemy
pydantic
email-validator
python-dotenv
cryptography
passlib[bcrypt]
PyJWT
openai
python-multipart
PyPDF2
docx2txt
a2wsgi
requests
psycopg2-binary
Pillow
SpeechRecognition
moviepy
python-dateutil
httpx
beautifulsoup4
google-generativeai


anthropic
numpy
langchain
langgraph
ollama
opentelemetry-api
boto3
azure-core
firebase-admin

apscheduler==3.10.4
duckduckgo-search
playwright
greenlet>=3.1.0
beautifulsoup4==4.12.3
httpx==0.27.0

yfinance
pandas
qrcode
reportlab
